:root {
	--background-file: url('../Poze/background.jpeg');
    --button-color: rgb(82, 54, 17);
    --button-text-color: rgb(255, 255, 255);
}

html, body {
    min-height: 100%;
}
body{

    background:var(--background-file) no-repeat center center;
    background-size:cover;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

#footerStandard{
        text-align:center;
        padding: 20px;
        background-color: #523718d7;
        color: #ffffff;
        position:fixed ;
        bottom: 0;
        left: 0;
        right: 0;
    
}

#opened{
    padding: 15px 40px;
    background-color: rgb(233, 160, 3);
}

#headerStandard{
    background-color: #ffffffa2;
    padding:  10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    img{
        height: 100px;
    }
    nav{
        margin-right: 10px;
    }
}
.buttons{
    margin-left:10px ;
    background-color: var(--button-color);
    border-radius: 10px;
    padding: 15px;
    transition: padding 0.3s ease;
}
.buttons:link{
    text-decoration: none;
    color: var(--button-text-color);
}
.buttons:visited{
    color: var(--button-text-color);
}
.buttons:hover{
    transition: padding 0.3s ease;
    font-weight: bold;
    padding: 15px 40px;
}
.box{
    display: flex;
    background-color: rgba(68, 50, 1, 0.425);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    h3{
        padding: 0px 15px;
    }
    h2{
        padding: 0px 15px;
    }
    h1{
        padding: 0px 15px;
    }
    p{
        padding: 0px 15px;
    }
    form{
        padding:30px;
        input{
            border-radius: 15px;
            margin-bottom: 15px;
        }
        textarea{
            border-radius: 15px;
            max-width: 90%;
            max-height: 400px;
        }
        
    }
}
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .required{
    color: rgb(228, 3, 3);
  }
  #banner{
    padding-left: 50px;
    padding-bottom: 50px;
    height: 159px;
    width: 318px;
  }